html {
    font-size: 62.5%;
}
.container{
    display: flex;
    align-items: center;
    margin: 45px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    background: url('../images/logo.png') center center no-repeat;
    background-size: cover;
    width:45px;
    height:42px;
}

.logo h1{
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    left: 45px;
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu ul li a{
    margin-left: 30px;
    font-weight: 400;
    padding: 11px 7px;
    font-size: 1.5rem;
}

.menu .btn {
    color: #fff;
    background-color: #5BC241;
    padding: 10px 21px 11px;
    border-radius: 10px;
}

.menu .btn:hover{
    color: #000;
}

.menu ul li a:hover {
    background-color: #5BC241;
    color: #fff;
}


